html, body {
    background-color: purple;
    height: 100%;
    margin: 0;
}
.page-container {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.75) inset;
    height: 100%;
}
.index {
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    font-family: ChunkFive,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857;
    padding-top: 5%;
}
header {
    font-size: 4em;
    margin: 0;
    margin-bottom: 3%;
}
hr {
    width: 60%;
    color: white;
    border: solid 5px;
}
a {
    text-decoration: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.content {
    font-size: 2em;
    margin-bottom: 5%;
}
.content a {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.social {
    text-shadow: 2px 2px 2px #fff;
    font-size: 0.5em;
}
.social a {
    padding: 10px;
}
footer {
    font-family: Helvetica,Arial,sans-serif;
}
