@import 'https://fonts.googleapis.com/css?family=Baloo|Share+Tech+Mono';
html, body {
  height: 100%;
}
body {
  background-color: purple;
  color: #FFFFFF;
  font-family: 'Share Tech Mono', monospace;
  line-height: 1.5;
  margin: 0;
}
.page-container {
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.75) inset;
  height: 100%;
}
.index {
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  padding-top: 5%;
}
header {
  font-size: 4em;
  margin: 0;
  margin-bottom: 3%;
}
.pretty {
  font-family: 'Baloo', cursive;
}
hr {
  width: 60%;
  color: white;
  border: solid 5px;
}
a {
  text-decoration: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
a:hover {
  text-decoration: overline;
}
.content {
  font-size: 2em;
  margin-bottom: 5%;
}
.content a {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.social {
  text-shadow: 2px 2px 2px #fff;
  font-size: 0.5em;
}
.social a {
  padding: 10px;
}
